---
let { name, description, img, link, bgColor, textColor } = Astro.props;
---

<div class={`flex justify-between ${bgColor} ${textColor} py-1`}>
  <div class="px-6 py-2 flex flex-col">
    <div class="flex flex-row justify-between">
      <img src={img} alt={`${name} logo`} class="h-6 my-2" />
    </div>

    <div class="flex text-smt justify-between items-center">
      <p class="text-sm">{description}</p>
    </div>
    <a
      href={link}
      target="_blank"
      rel="noopener noreferrer"
      class="text-xs underline">View the documentation</a
    >
  </div>
</div>
